template<class T1, class V1, class V2>
inline void <% ClassName %>::f(const T1 t, const V1& pax, const T1 tnxt,
    V2& xnxt) {
<% ConstantAliases %>

<% ParentAliases %>

<% InlineAliases %>

  xnxt = <% Formula %>;
}
