  /**
   * @see bi::GenericStaticFunction::s
   *
   * \f$<% LaTeXFormula %>\f$
   */
  template<class V1, class V2, class V3, class V4, class V5, class V6>
  static CUDA_FUNC_BOTH void s(const V1& fpax, const V2& rpax,
      const V3& spax, const V4& dpax, const V5& cpax, V6& x);
