\section{<% Name %>s}

<% Description %>

\begin{longtable}{p{.1\textwidth} p{.1\textwidth}  p{.4\textwidth} p{.4\textwidth} }
\textbf{Name} & \textbf{Symbol} & \textbf{Formula} & \textbf{Description} \\
\hline
\endhead
<% Nodes %>
\end{longtable}
